:root{
  --light-purple: #D9BBE9;
  --indigo: #7E7EBA;
  --dark-purple: #C892C7;
  --pink: #FDC9DE;
  --peach: #FFDFDB;
  --text-color: rgb(41, 36, 55);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: sans-serif;
}
body {
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero-img{
  width: 35vw;
}
/*start of nav style*/
nav > ul {
  display: flex;
  align-items: center;
  background-color: var(--light-purple);
  list-style-type: none;
  width: 100vw;
}
li {
  padding: 1em;
}
li:hover:not(.active) {
  background-color: var(--dark-purple);
}

.active {
  background-color: var(--indigo);
}
.active > a {
  color: white;
}

li:first-child{
  padding: 9px 0.5em 5px;
}
#menu-logo{
  width: 37px;
}
/*end of nav style*/
/*start of table style*/
table{
  margin: 1em;
  background-color: white;
  border-collapse: collapse;
  border-radius: 1.5em;
  overflow: hidden;
}
table, th, td{
  border: 2px solid var(--dark-purple);
}
th,td{
  padding: 1em 0.5em;
  min-width: 4em;
  text-align: center;
}
tr:hover:not(th:first-child){
  background-color: var(--peach);
}
th{
  background-color: var(--light-purple);
}
/*end of table style*/
/*start of form style*/
form{
  width: max-content;
  margin: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--peach);
}
input[type="submit"]{
  background-color: var(--indigo);
  color: white;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.75em;
}
/*end of form style*/